click>=8.0
Flask==2.2.5
Flask-PyMongo==2.2.0
Jinja2>=3.0
MarkupSafe>=2.1.1
SecretStorage==2.0.0
Werkzeug==2.2.3
argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
certifi==2022.12.7
chardet==3.0.4
colorama==0.2.5
html5lib==0.999999999
httplib2==0.19.0
keyring==3.5
pymongo==3.7.2
requests==2.31.0
simplegeneric==0.8.1
simplejson==3.3.1
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
websocket-client==0.54.0
wheel==0.38.1
