html, body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#content_section {
    height: 100%;
    padding: 20px 0;
}

.content_picture {
    color: #EB6864;
    margin: 10px;
}

#footer_section {
    background-color: #EB6864;
    padding: 20px;
    margin-top: 10px;
    bottom: 0;
    width: 100vw;
    position: fixed;
}

.table {
    background-color: #ffffff !important;
}

.table thead th {
    background: #c3c3c3 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none !important;
}

td.options {
    text-align: right;
}

.btn {
    padding: 2px 7px !important;
}

.btn-danger.editbtn {
    color: #f57a00 !important;
    background-color: #ffffff !important;
    border: 2px solid #F57A00 !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-danger.editbtn:hover {
    color: #ffffff !important;
    background-color: #F57A00 !important;
    transition: 0.7s;
}

.btn-primary.deletebtn {
    color: #eb6864 !important;
    background-color: #ffffff !important;
    border: 2px solid #EB6864 !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-primary.deletebtn:hover {
    color: #ffffff !important;
    background-color: #EB6864 !important;
    transition: 0.7s;
}
