html, body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.title-screen {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('../images/televisionbg.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('../images/televisionbg.jpg');
    /* background-image: url('../images/televisionbg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.title-screen h1 {
    position: absolute;
    text-align: center;
    line-height: 110px;
    font-size: 113px;
    font-weight: 100;
    z-index: 1;
    text-shadow: -4px -1px 5px #000000;
    color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
}

.downarrowprograms {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
}

i.fas.fa-chevron-down {
    color: #ffffff !important;
    font-size: 30px;
}

button.btn.btn-primary.infoSect {
    position: sticky;
    top: 20%;
    float: right;
    z-index: 3;
    background: white;
    color: black;
    border: none;
    border-radius: 15px 0 0 15px;
}

.bg-primary {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-dark .navbar-brand {
    color: #ffffff !important;
    text-transform: none;
    font-family: 'Satisfy', cursive;
    font-weight: 100;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

h2 {
    font-family: 'Satisfy', cursive !important;
    margin-top: 70px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#content_section {
    height: 100%;
    padding: 20px 0;
}

.content_picture {
    color: #EB6864;
    margin: 10px;
}

.desc-content {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 13px #bcbcbc;
}

#footer_section {
    background-color: #3c3c3c;
    color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    bottom: 0;
    width: 100vw;
}

.table {
    background-color: #ffffff !important;
}

.table thead th {
    background: #c3c3c3 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none !important;
}

.btn {
    padding: 2px 7px !important;
}

.btn-danger.editbtn {
    color: #3c3c3c !important;
    background-color: #ffffff !important;
    border: 2px solid #3c3c3c !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-danger.editbtn:hover {
    color: #ffffff !important;
    background-color: #F57A00 !important;
    transition: 0.7s;
}

.btn-primary.deletebtn {
    color: #3c3c3c !important;
    background-color: #ffffff !important;
    border: 2px solid #3c3c3c !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-primary.deletebtn:hover {
    color: #ffffff !important;
    background-color: #EB6864 !important;
    transition: 0.7s;
}

.btn-success.addbtn {
    color: #3c3c3c !important;
    background-color: #ffffff !important;
    border: 2px solid #3c3c3c !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
    position: absolute;
    right: 15px;
}

.btn-success.addbtn:hover {
    color: #ffffff !important;
    background-color: #22b24c !important;
    transition: 0.7s;
}

.card img {
    max-width: 100%;
}

span.category {
    font-size: 12px;
    font-weight: 100;
    padding-left: 5px;
    font-style: italic;
}

.card-columns {
    column-count: 4 !important;
}
