html, body {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 110px;
    font-size: 75px;
    z-index: 1;
    text-shadow: 0px 0px 20px #ffffff;
}

i.fa-tv {
    opacity: 0.5;
    z-index: -1;
}

h2 {
    margin-top: 20px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#content_section {
    height: 100%;
    padding: 20px 0;
}

.content_picture {
    color: #EB6864;
    margin: 10px;
}

.desc-content {
    background: #e2e2e2;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 13px #bcbcbc;
}

#footer_section {
    background-color: #EB6864;
    padding: 20px;
    margin-top: 10px;
    bottom: 0;
    width: 100vw;
}

.table {
    background-color: #ffffff !important;
}

.table thead th {
    background: #c3c3c3 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none !important;
}

td.options {
    text-align: right;
}

.btn {
    padding: 2px 7px !important;
}

.btn-danger.editbtn {
    color: #f57a00 !important;
    background-color: #ffffff !important;
    border: 2px solid #F57A00 !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-danger.editbtn:hover {
    color: #ffffff !important;
    background-color: #F57A00 !important;
    transition: 0.7s;
}

.btn-primary.deletebtn {
    color: #eb6864 !important;
    background-color: #ffffff !important;
    border: 2px solid #EB6864 !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}

.btn-primary.deletebtn:hover {
    color: #ffffff !important;
    background-color: #EB6864 !important;
    transition: 0.7s;
}

.btn-success.addbtn {
    color: #22b24c !important;
    background-color: #ffffff !important;
    border: 2px solid #22b24c !important;
    border-radius: 50% !important;
    height: 31px !important;
    width: 31px !important;
    font-size: 14px !important;
}
