{% extends 'base.html'%} 
    {% block content %}
    
<h2>Add a Category</h2>
<hr>

<form action="{{ url_for('insert_category') }}" method="POST">
    <fieldset>

        <div class="form-group">
            <input class="form-control" id="category_name" name="category_name" type="text" placeholder="Enter category name">                
        </div>
    
        <button type="submit" name="action" class="btn btn-success">Add Category</button>
            <a href="{{ url_for('get_categories') }}" class="btn btn-secondary">
                Cancel
            </a>
    </fieldset>
</form>    

{% endblock %}