{% extends 'base.html'%} 
    {% block content %}
<div id="main-content" class="container-fluid">
    <h2>Edit a Category</h2>
    <hr>

    <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST">
        <fieldset>

            <div class="form-group">
                <input class="validate form-control" id="category_name" name="category_name" type="text" value="{{category.category_name}}">
                    <small  class="form-text text-muted">Update the name of the category above</small>
            </div>

            <button type="submit" name="action" class="btn btn-success">Update Category</button>
                <a href="{{ url_for('get_categories') }}" class="btn btn-secondary">
                    Cancel
                </a>
        </fieldset>
    </form>
</div>

{% endblock %}
