{% extends 'base.html'%}
    {% block content %}

    <div class="container-fluid">
        <h2>Help</h2>
        
        <p>Find any help you need below, or tips on how to make the most of the application.</p>
        <hr>
        
        <h5 class="help-question">How can I add a new program?</h5>
        <p class="help-answer">You can add a new program by following the link - <a href="{{url_for('add_program')}}">Add a Program</a></p>
        
        <h5 class="help-question">How can I add a new category?</h5>
        <p class="help-answer">You can add a new program by following the link - Add a Category</p>
        
        <h5 class="help-question">Can you make changes to a program after you add it?</h5>
        <p class="help-answer">Yes, when viewing the programs there is a pencil icon. Click this and you can make changes to the program.</p>
        
        <h5 class="help-question">I can't find a suitable category, how do I add a new one?</h5>
        <p class="help-answer">On the category manager page, there is a button at the bottom where you can add a new category to suit your program.</p>
        
    </div>
  
{% endblock %}
