{% extends 'base.html'%}
    {% block content %}

    <div id="main-content" class="container-fluid">
        <h2>Help</h2>
        
        <p>Find any help you need below, or tips on how to make the most of the application.</p>
        <hr>
        
        <h5 class="help-question">How can I add a new program?</h5>
        <p class="help-answer">You can add a new program by following the link - <a href="{{url_for('add_program')}}">Add a Program</a></p>
        
        <h5 class="help-question">I can't find a suitable category, how do I add a new one?</h5>
        <p class="help-answer">You can add a new category by following this link - <a href="{{ url_for('new_category')}}">Add a Category</a></p>
        
        <h5 class="help-question">Can you make changes to a program after you add it?</h5>
        <p class="help-answer">Yes, when viewing the programs there is a pencil icon. Click this and you can make changes to the program.</p>
        
        <h5 class="help-question">I have added a program by mistake, what can I do?</h5>
        <p class="help-answer">You can either edit the program using the steps mentioned above, or you can delete the program. To delete, look for the trash icon when viewing the programs, and this will delete it from the list.</p>
        
        <h5 class="help-question">Do I need to add a picture when adding a program?</h5>
        <p class="help-answer">No this is not essential. You can add a program without the need to get an image URL.</p>
        
        <h5 class="help-question">Is there a limit to how many programs I can add?</h5>
        <p class="help-answer">No, you can add as many, or as few as you like.</p>
        
    </div>
  
{% endblock %}
