{% extends 'base.html' %}

{% block content %}

    <div class="title-screen">
        <h1>Program Planner</h1>
        <p class="downarrowprograms"><a href="#programs"><i class="fas fa-chevron-down"></i></a></p>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quick Help!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="desc-content">
                        <p>Add your favourite must watch programs, make a note when they are on.</p>

                        <p>You can manage the programs, edit and delete existing programs. You can also add and edit existing categories if you do not see one which matches your program.</p>

                        <p>To edit an existing program, look out for the <i class="fas fa-pencil-alt"></i> icon. You can also delete programs which you no longer wish to see by pressing the <i class="fas fa-trash-alt"></i> icon.</p>

                        <p>You can <a href="{{url_for('add_program')}}" class="btn btn-primary btn-sm">Add a Program</a> or <a href="{{url_for('get_categories')}}" class="btn btn-primary btn-sm">Add a category</a> by following the links, and following the instructions on the page.</p>

                        <p>Ready to get going? See the current programs below, or go straight into adding your own...</p>
                        <p><a href="#programs" class="btn btn-success btn-sm">View the Programs</a></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


        <!-- <div class="col-lg-12 col-md-12 col-sm-12 text-center" id="content_section">
                <hr>
                    <div class="desc-content">
                        <p>Add your favourite must watch programs, make a note when they are on.</p>

                        <p>You can manage the programs, edit and delete existing programs. You can also add and edit existing categories if you do not see one which matches your program.</p>

                        <p>To edit an existing program, look out for the <i class="fas fa-pencil-alt"></i> icon. You can also delete programs which you no longer wish to see by pressing the <i class="fas fa-trash-alt"></i> icon.</p>

                        <p>You can <a href="{{url_for('add_program')}}" class="btn btn-primary btn-sm">Add a Program</a> or <a href="{{url_for('get_categories')}}" class="btn btn-primary btn-sm">Add a category</a> by following the links, and following the instructions on the page.</p>

                        <p>Ready to get going? See the current programs below, or go straight into adding your own...</p>
                        <p><a href="#programs" class="btn btn-success btn-sm">View the Programs</a></p>
                    </div>
                <hr>
        </div> -->

    <div class="col-lg-12 col-md-12 col-sm-12" id="programs">
        <h2>
            Programs
            <a href="{{url_for('add_program')}}" class="btn btn-success addbtn"><i class="fas fa-plus"></i></a>
        </h2>

        <div class="card-columns">
        {% for program in programs %}
            <div class="card" style="width: 18rem;">
                <img src="{{program.program_image}}" onerror="this.src='/static/images/default.jpg'">
                <div class="card-body">
                    <h5 class="card-title">{{program.program_name}}</h5>
                    <p class="card-text">{{program.program_description}}</p>
                    <p class="">{{program.category_name}}</p>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}
