{% extends 'base.html' %}

{% block content %}

    <div class="title-screen">
        <h1>Program Planner</h1>
        <p class="downarrowprograms"><a href="#programs"><i class="fas fa-chevron-down"></i></a></p>
    </div>

    <div id="programs" class="container-fluid programs-section">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>
                Programs
                <a href="{{url_for('add_program')}}" class="btn btn-success addbtn"><i class="fas fa-plus"></i></a>
            </h2>

            <div class="card-columns">
            {% for program in programs %}
                <div class="card">
                    <img src="{{program.program_image}}" onerror="this.src='/static/images/default.jpg'">
                    <div class="card-body">
                        <h5 class="card-title">{{program.program_name}}</h5><span>{{program.category_name}}</span>
                        <p class="card-text">{{program.program_description}}</p>
                        <p class="">{{program.date_on}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('edit_program', program_id=program._id)}}" class="btn btn-danger editbtn"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{url_for('delete_program', program_id=program._id)}}" class="btn btn-primary deletebtn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
